<div class="container">
	<div class="progress">
		<div class="progress__bar" [style.transform]="'scaleX(' + (percent / 100) + ')'"></div>
		<p class="progress__label" [style.left]="percent + '%'">{{ percent }}%</p>
	</div>
	<div class="btn-wrap">
		<button class="btn" [class.start]="isStarted" (click)="start()">スタート</button>
		<button class="btn" [class.stop]="!isStarted" (click)="stop()">ストップ</button>
		<button [disabled]="percent >= 100" class="btn" (click)="add()">+10%</button>
		<button [disabled]="percent <= 0" class="btn" (click)="remove()">-10%</button>
	</div>
</div>